{"name":"iweather","slug":"iweather","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#13131A"},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"bundleIdentifier":"com.gabrieljesusvix.iweather"},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#13131A"},"package":"com.gabriel_jesusvix.iweather"},"web":{"favicon":"./assets/favicon.png"},"experiments":{"tsconfigPaths":true},"extra":{"eas":{"projectId":"153fc8c8-8a7c-400e-9bb7-8dc9e49354a2"}},"sdkVersion":"49.0.0","platforms":["ios","android"]}